.imgsize{
    width: 80%;
    border: 1px #0164a3 solid;
    padding: 11px;
  }

  .uploadbtn{
    font-size: 12px;
    font-weight: 600;
    color: #0164a3;
    border: 1px #0164a3 solid;
    border-radius: 4px;
    margin-top: 12px;
    margin-left: 50px;
  }

    /*parsley js*/

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 0px 0 4px;
    padding: 0;
    list-style-type: none;
    font-size: 12px;
    
    opacity: 0;
    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    font-weight: 600;
    color: #fd0e0e;
}

.parsley-errors-list.filled {
  opacity: 1;
}

::-webkit-scrollbar {
  width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #087cca; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #015791; 
}

.font12{
  font-size: 12px;
  font-weight: 600;
}

.font30{
  font-size: 30px;
  font-weight: 800;
  color: #0164a3;
  font-family: serif;
}

.rotate {
  transform: rotate(44deg);
  /* margin: 0px -23px; */
  font-size: 40px;color:#0164a3
}

.font14{
  font-size: 14px;
  font-weight: 700;
  color: #0164a3;
}

.pnrc{
  font-size: 20px;
  font-weight: 600;
  color: #04598f;
  margin: 20px 50px;
  position: absolute;
  font-family: initial;
}

.datec{
  font-size: 20px;
  font-weight: 600;
  color: #04598f;
  margin: 20px 0px;
  position: absolute;
  font-family: initial;
}

