/node_modules
/public/hot
/public/storage
/public/logs
/storage/*.key
/vendor
/logs
**/1ASIWMAKFTT_PDT_20210408_052245
**/xml
.env
.env.backup
.env.server
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
